.nav {
    font-family: AKONY, Arial, sans-serif;
    padding-top: 50px;
    line-height: 1;
}

.nav__list {
    font-size: 203px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0 0;
    margin-top: 0;
    margin-bottom: 50px;
    border-bottom: 10px solid var(--primary-color);
}

.nav__link, .nav__link:visited, .nav__link:hover, .nav__link:active {
    position: relative;
    color: var(--primary-color);
    text-decoration: none;
}

.nav__link::after {
    display: block;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 15px;
    height: 10px;
    background-color: var(--primary-color);
}

.nav__item_active .nav__link::after,
.nav__link:hover::after {
    content: '';
}
