.page,
.page__body {
    height: 100%;
}

.page__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

.page__content {
    display: flex;
    margin-bottom: auto;
}

.page__sidebar {
    width: 300px;
    margin-right: 40px;
}

.page__article {
    width: calc(100% - 340px);
    padding-bottom: 40px;
}
