.footer {
    font-size: 15px;
    text-align: center;
    background-color:  var(--secondary-color);
    color: var(--primary-color);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 10px solid var(--primary-color);
}

.github__logo {
    display: block;
    width: 30px;
}


